%table
  %tr
    %td row1
    %td= Time.now + 600
    %td icons
    %td.projectbars
      .barSegment.value1
      .barSegment.value2
      .barSegment.value3
      .barSegment.value4
      .barSegment.value5
      .barSegment.value6
      .barSegment.value7
      .barSegment.value8
  %tr
    %td row2
    %td= Time.now + 1200
    %td icons
    %td.projectbars
      .barSegment.value1
      .barSegment.value2
      .barSegment.value3
  %tr
    %td row3
    %td= Time.now + 1800
    %td icons
    %td.projectbars
      .barSegment.value1
      .barSegment.value2
      .barSegment.value3
      .barSegment.value4
