%table
  %tr
    %td row1
    %td= (Time.now + 600).strftime("%H:%M")
    %td icons
    %td.projectBars
      .barSegment.value1
      .barSegment.value2
      .barSegment.value3
      .barSegment.value4
      .barSegment.value5
      .barSegment.value6
      .barSegment.value7
      .barSegment.value8
  %tr
    %td row2
    %td= (Time.now + 1200).strftime("%H:%M")
    %td icons
    %td.projectBars
      .barSegment.value1
      .barSegment.value2
      .barSegment.value3
  %tr
    %td row3
    %td= (Time.now + 1800).strftime("%H:%M")
    %td icons
    %td.projectBars
      .barSegment.value1
      .barSegment.value2
      .barSegment.value3
      .barSegment.value4
