%table
  %tr
    %td image1
    %td row1
    %td thing
    %td icons
    %td.projectbars
      .barSegment.value1
      .barSegment.value2
      .barSegment.value3
      .barSegment.value4
      .barSegment.value5
      .barSegment.value6
      .barSegment.value7
      .barSegment.value8
  %tr
    %td image2
    %td row2
    %td thing
    %td icons
    %td.projectbars
      .barSegment.value1
      .barSegment.value2
      .barSegment.value3
  %tr
    %td image3
    %td row3
    %td thing
    %td icons
    %td.projectbars
      .barSegment.value1
      .barSegment.value2
      .barSegment.value3
      .barSegment.value4
